@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?pyos5k");
  src: url("../fonts/icons.eot?pyos5k#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?pyos5k") format("truetype"), url("../fonts/icons.woff?pyos5k") format("woff"), url("../fonts/icons.svg?pyos5k#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-down:before {
  content: "\e900";
}

._icon-arrow-link:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e902";
}

._icon-favorite:before {
  content: "\e903";
}

._icon-location:before {
  content: "\e904";
}

._icon-phone:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

._icon-send:before {
  content: "\e907";
}

._icon-share:before {
  content: "\e908";
}

@font-face {
  font-family: "Soleto";
  font-display: swap;
  src: url("../fonts/Soleto-Bold.woff") format("woff"), url("../fonts/Soleto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Soleto";
  font-display: swap;
  src: url("../fonts/Soleto-Regular.woff") format("woff"), url("../fonts/Soleto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Verveine";
  font-display: swap;
  src: url("../fonts/Verveine_Std_Rg.woff") format("woff"), url("../fonts/Verveine_Std_Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titling";
  font-display: swap;
  src: url("../fonts/TitlingGothicFBCond-Bold.woff") format("woff"), url("../fonts/TitlingGothicFBCond-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.icon-menu {
  display: none;
  position: relative;
  z-index: 11;
  -webkit-tap-highlight-color: transparent;
}

body.lock {
  overflow: hidden;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 15px;
}

.page {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-image: url("../img/header/Background.png");
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.header {
  position: fixed;
  z-index: 14;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header.scroll {
  background-color: #f7f2f5;
  border-radius: 0px 0px 20px 20px;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body::after {
  content: "";
  display: block;
  opacity: 0;
  visibility: hidden;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #ede4e9), to(white));
  background: -o-linear-gradient(top, #ede4e9 30%, white 100%);
  background: linear-gradient(180deg, #ede4e9 30%, white 100%);
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 9;
}

.header__logo {
  display: inline-block;
  position: relative;
  z-index: 11;
  -webkit-tap-highlight-color: transparent;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  margin-left: 90px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li:not(:last-child) {
  margin: 0px 18px 0px 0px;
}

.menu__link {
  font-family: "Soleto";
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: #12100d;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  width: 100%;
  height: 3px;
  opacity: 0;
  visibility: hidden;
  background: #12100d;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.homepage {
  position: relative;
  min-height: 1100px;
}

.homepage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/header/girl-4.png");
  background-position: 67%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

.mountains {
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
  z-index: 3;
}

.mountains__title {
  text-align: center;
  font-family: "Titling";
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
  color: #222221;
  margin-bottom: 80px;
}

.mountains__title span {
  font-family: "Verveine";
  font-size: 83px;
  font-weight: 400;
  font-style: italic;
  color: #4e171b;
}

.mountains__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mountains__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 61%;
          flex: 0 0 61%;
  min-width: 0;
}

.mountains__controls {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39%;
          flex: 0 0 39%;
}

.slider-mountains__row {
  overflow: hidden;
}

.slider-mountains__item {
  height: auto;
}

.item-mountains-slider {
  -webkit-backface-visibility: hidden;
}

.item-mountains-slider__video {
  border: 30px solid #fff;
  margin: 0px 0px 45px 0px;
}

.item-mountains-slider__video iframe {
  min-height: 380px;
  width: 100%;
}

.item-mountains-slider__text {
  font-family: "Soleto";
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  color: #12100d;
}

.slider-mountains-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider-mountains-control__shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 125px 20px 0px 0px;
}

.slider-mountains-control__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-mountains-control__item {
  font-family: "Soleto";
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  color: #4e171b;
  margin: 0px 0px 100px 0px;
}

.slider-mountains-control__dotts .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #4e171b;
  opacity: 1;
}

.slider-mountains-control__dotts .swiper-pagination-bullet:only-child {
  display: block !important;
}

.slider-mountains-control__dotts .swiper-pagination-bullet-active {
  position: relative;
}

.slider-mountains-control__dotts .swiper-pagination-bullet-active:before {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-mountains-control__arrows-left {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin: 0px 10px;
  cursor: pointer;
  cursor: pointer;
}

.slider-mountains-control__arrows-right {
  margin: 0px 10px;
  cursor: pointer;
}

.about {
  padding-top: 140px;
  padding-bottom: 200px;
  background-color: #fff;
  quotes: "“" "”";
}

.about__wrapper {
  position: relative;
}

.about__wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0px;
  max-width: 115px;
  width: 100%;
  min-height: 105px;
  background: url("../img/about/open.png") 0 0 no-repeat;
  margin-left: 100px;
}

.about__wrapper::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  max-width: 115px;
  width: 100%;
  min-height: 105px;
  background: url("../img/about/close.png") 0 0 no-repeat;
}

.about__quotes {
  font-family: "Verveine";
  font-size: 350px;
  font-weight: 400;
  color: #12100d;
}

.about__title {
  font-family: "Titling";
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
  color: #222221;
  text-align: center;
  margin-bottom: 120px;
}

.about__text {
  font-family: "Soleto";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #12100d;
  text-align: center;
  max-width: 920px;
  margin: 0 auto 0 auto;
}

.tour {
  padding-top: 190px;
  padding-bottom: 230px;
}

.tour__title {
  font-family: "Titling";
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
  color: #222221;
  text-align: center;
  margin-bottom: 80px;
}

.tour__title span {
  font-family: "Verveine";
  font-size: 83px;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  color: #1e5a7c;
}

.tour__text {
  font-family: "Soleto";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #12100d;
  text-align: center;
  max-width: 910px;
  margin: 0 auto;
  margin-bottom: 170px;
}

.tour__items {
  max-width: 1150px;
  margin: 0 auto;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 475px 475px;
  grid-template-rows: repeat(2, minmax(630px, auto));
  row-gap: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-tour {
  background-color: #fff;
  min-height: 630px;
  position: relative;
  z-index: 2;
}

.item-tour:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 5px 50px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 50px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.item-tour__image {
  height: 315px;
}

.item-tour__image img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.item-tour__content {
  padding: 55px 30px 75px 30px;
  padding-top: 55px;
  padding-right: 30px;
  padding-bottom: 75px;
  padding-left: 30px;
}

.content-item-tour {
  text-align: center;
}

.content-item-tour__title {
  font-family: "Soleto";
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  margin-bottom: 60px;
}

.content-item-tour__text {
  font-size: 22px;
  font-family: "Soleto";
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  color: #12100d;
}

.store {
  padding-bottom: 226px;
}

.store__mainwrapper {
  position: relative;
}

.store__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 15px 60px 15px;
}

.store__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43.5%;
          flex: 0 1 43.5%;
  font-family: "Titling";
  font-size: 250px;
  line-height: 1.2;
  font-weight: 700;
  color: #222221;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.store__slider {
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57.52%;
          flex: 0 1 57.52%;
}

.store__slider-inner {
  width: 100%;
  height: 1070px;
  overflow: hidden;
}

.controls-slider-store__arrow {
  cursor: pointer;
}

.controls-slider-store__arrow_up {
  margin-bottom: 10px;
}

.controls-slider-store__arrow_down {
  margin-top: 10px;
}

.controls-slider-store .swiper-pagination-bullets {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls-slider-store .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 22px;
  height: 22px;
  background-color: #000;
  opacity: 1;
  position: relative;
  margin: 10px 0px;
}

.controls-slider-store .swiper-pagination-bullets .swiper-pagination-bullet-active:before {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.item-slider-store {
  position: relative;
  padding: 0px 0px 51% 0px;
}

.item-slider-store img {
  max-width: 100%;
}

.item-slider-store_1 .item-slider-store__content {
  top: 50px;
  right: 50px;
}

.item-slider-store_2 .item-slider-store__content {
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-slider-store__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.item-slider-store__text {
  font-family: "Soleto";
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  margin: 0px 50px 0px 0px;
  white-space: nowrap;
}

.item-slider-store__text_w {
  color: #ffffff;
}

.item-slider-store__price {
  font-family: "Verveine";
  font-size: 83px;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  color: #222221;
}

.item-slider-store__price_w {
  font-size: 71px;
  color: #ffffff;
}

.footer {
  padding-top: 140px;
  padding-bottom: 200px;
  text-align: center;
}

.footer__title {
  font-family: "Titling";
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
  color: #222221;
  margin-bottom: 114px;
}

.footer__text {
  font-family: "Soleto";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #12100d;
  margin-bottom: 144px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__socials a {
  margin: 0px 12px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__socials a img {
  max-width: 100%;
}

.footer__socials a:hover {
  -webkit-box-shadow: 0px 0px 5px #000;
          box-shadow: 0px 0px 5px #000;
}

@media (min-width: 768px) {
  .menu__overlay {
    display: none;
  }
}

@media (min-width: 992px) {
  .store__slider-controls {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 175px;
    background-color: #fff;
  }

  .controls-slider-store__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .item-slider-store_1 {
    height: 495px;
  }

  .item-slider-store_2 {
    height: 424px;
  }
}

@media (max-width: 1350px) {
  .store__title {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 1280px) {
  .header__menu {
    margin-left: calc(30px + 60 * ((100vw - 320px) / 960));
  }

  .mountains {
    padding-top: calc(40px + 70 * ((100vw - 320px) / 960));
  }

  .mountains {
    padding-bottom: calc(40px + 70 * ((100vw - 320px) / 960));
  }

  .mountains__title {
    font-size: calc(28px + 36 * ((100vw - 320px) / 960));
  }

  .mountains__title {
    margin-bottom: calc(30px + 50 * ((100vw - 320px) / 960));
  }

  .mountains__title span {
    font-size: calc(41px + 42 * ((100vw - 320px) / 960));
  }

  .item-mountains-slider__text {
    font-size: calc(16px + 9 * ((100vw - 320px) / 960));
  }

  .about {
    padding-top: calc(40px + 100 * ((100vw - 320px) / 960));
  }

  .about {
    padding-bottom: calc(40px + 160 * ((100vw - 320px) / 960));
  }

  .about__wrapper::before {
    margin-left: calc(0px + 100 * ((100vw - 320px) / 960));
  }

  .about__title {
    font-size: calc(28px + 36 * ((100vw - 320px) / 960));
  }

  .about__title {
    margin-bottom: calc(40px + 80 * ((100vw - 320px) / 960));
  }

  .about__text {
    font-size: calc(18px + 12 * ((100vw - 320px) / 960));
  }

  .tour {
    padding-top: calc(40px + 150 * ((100vw - 320px) / 960));
  }

  .tour {
    padding-bottom: calc(40px + 190 * ((100vw - 320px) / 960));
  }

  .tour__title {
    font-size: calc(30px + 34 * ((100vw - 320px) / 960));
  }

  .tour__title {
    margin-bottom: calc(30px + 50 * ((100vw - 320px) / 960));
  }

  .tour__title span {
    font-size: calc(40px + 43 * ((100vw - 320px) / 960));
  }

  .tour__text {
    font-size: calc(22px + 8 * ((100vw - 320px) / 960));
  }

  .tour__text {
    margin-bottom: calc(30px + 140 * ((100vw - 320px) / 960));
  }

  .tour__items {
    row-gap: calc(30px + 45 * ((100vw - 320px) / 960));
  }

  .item-tour__content {
    padding-top: calc(20px + 35 * ((100vw - 320px) / 960));
  }

  .item-tour__content {
    padding-right: calc(15px + 15 * ((100vw - 320px) / 960));
  }

  .item-tour__content {
    padding-bottom: calc(40px + 35 * ((100vw - 320px) / 960));
  }

  .item-tour__content {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 960));
  }

  .content-item-tour__title {
    font-size: calc(20px + 6 * ((100vw - 320px) / 960));
  }

  .content-item-tour__title {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 960));
  }

  .content-item-tour__text {
    font-size: calc(18px + 4 * ((100vw - 320px) / 960));
  }

  .store {
    padding-bottom: calc(60px + 166 * ((100vw - 320px) / 960));
  }

  .store__title {
    font-size: calc(40px + 210 * ((100vw - 320px) / 960));
  }

  .item-slider-store__text {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
  }

  .item-slider-store__price {
    font-size: calc(30px + 53 * ((100vw - 320px) / 960));
  }

  .item-slider-store__price_w {
    font-size: calc(30px + 41 * ((100vw - 320px) / 960));
  }

  .footer {
    padding-top: calc(40px + 100 * ((100vw - 320px) / 960));
  }

  .footer {
    padding-bottom: calc(40px + 160 * ((100vw - 320px) / 960));
  }

  .footer__title {
    font-size: calc(30px + 34 * ((100vw - 320px) / 960));
  }

  .footer__title {
    margin-bottom: calc(30px + 84 * ((100vw - 320px) / 960));
  }

  .footer__text {
    font-size: calc(20px + 10 * ((100vw - 320px) / 960));
  }

  .footer__text {
    margin-bottom: calc(60px + 84 * ((100vw - 320px) / 960));
  }
}

@media (max-width: 1100px) {
  .tour__items {
    grid-template-columns: 455px 455px;
  }
}

@media (max-width: 992px) {
  .header__body {
    padding: 40px 0;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }

  .header__menu {
    margin-left: 50px;
  }

  .homepage {
    min-height: 700px;
  }

  .homepage:before {
    content: "";
    width: 100%;
    height: 100%;
    background-position: 64% top;
    background-size: cover;
    min-height: 555px;
  }

  .mountains__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mountains__slider {
    margin: 0px 0px 40px 0px;
  }

  .slider-mountains-control {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .slider-mountains-control__shell {
    margin: 0px 0px 0px 0px;
  }

  .slider-mountains-control__dotts .swiper-pagination-bullet {
    margin: 0px 15px !important;
  }

  .slider-mountains-control__arrows-left {
    margin: 0px 15px;
  }

  .slider-mountains-control__arrows-right {
    margin: 0px 15px;
  }

  .about__wrapper::before {
    margin: 0;
    max-width: 60px;
    min-height: 60px;
    background: url("../img/about/open.png") 0 0/100% no-repeat;
  }

  .about__wrapper::after {
    max-width: 60px;
    min-height: 60px;
    background: url("../img/about/open.png") 0 0/100% no-repeat;
  }

  .tour__items {
    grid-template-rows: repeat(5, auto);
    grid-template-columns: minmax(290px, 475px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tour__item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .tour__item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .tour__item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .tour__item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .store__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 15px 60px 15px;
  }

  .store__title {
    -webkit-writing-mode: inherit;
        -ms-writing-mode: inherit;
            writing-mode: inherit;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    margin: 0px 0px 40px 0px;
  }

  .store__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .store__slider-inner {
    height: 100%;
    margin: 0px 0px 50px 0px;
  }

  .controls-slider-store__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .controls-slider-store__arrow_up {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin: 0px 10px 0px 10px;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }

  .controls-slider-store__arrow_down {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin: 0px 10px 0px 10px;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }

  .controls-slider-store .swiper-pagination-bullets {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }

  .controls-slider-store .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 10px;
  }
}

@media (max-width: 992px) and (max-width: 1280px) {
  .header__menu {
    margin-left: calc(30px + 20 * ((100vw - 320px) / 960));
  }
}

@media (max-width: 768px) {
  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .icon-menu span {
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #12100d;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
    opacity: 1;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
    opacity: 1;
  }

  .header__body {
    padding: 20px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px -5px;
  }

  .header__body.active::after {
    opacity: 1;
    visibility: visible;
  }

  .menu__body {
    display: none;
  }

  .menu__overlay {
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#ede4e9), to(white));
    background: -o-linear-gradient(top, #ede4e9 0%, white 100%);
    background: linear-gradient(180deg, #ede4e9 0%, white 100%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__overlay-link {
    font-family: "Soleto";
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    color: #12100d;
    -webkit-tap-highlight-color: transparent;
  }

  .menu__overlay-link:not(:last-child) {
    margin: 0px 0px 50px 0px;
  }

  .menu__overlay.active {
    opacity: 1;
    visibility: visible;
  }

  .homepage {
    min-height: 530px;
  }

  .homepage:before {
    content: "";
    width: 100%;
    height: 100%;
    background-position: 79% top;
    background-size: cover;
    min-height: 525px;
  }

  .slider-mountains__row {
    margin: 0px -15px;
  }

  .item-mountains-slider__video {
    border-width: 15px;
  }

  .slider-mountains-control__item {
    margin: 0px 0px 40px 0px;
    text-align: center;
  }

  .about__wrapper::before {
    top: 0px;
    max-width: 30px;
    min-height: 30px;
  }

  .about__wrapper::after {
    max-width: 30px;
    min-height: 30px;
  }

  .item-tour {
    min-height: auto;
  }

  .item-tour__image {
    height: auto;
  }

  .item-slider-store {
    padding: 0px 0px 70% 0px;
  }

  .item-slider-store_1 .item-slider-store__content {
    top: 25px;
    right: 20px;
  }

  .item-slider-store__text {
    margin: 0px 20px 0px 0px;
  }
}

@media (max-width: 479px) {
  .item-mountains-slider__video {
    border: none;
  }

  .item-mountains-slider__video iframe {
    min-height: 220px;
    width: 100%;
  }

  .item-mountains-slider__text {
    padding: 0px 15px;
  }

  .item-tour {
    margin: 0px -16px;
  }

  .store__container {
    padding: 0px 0px 0px 0px;
  }

  .controls-slider-store__arrow {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .store__slider-controls {
    width: calc(1px + 174 * ((100vw - 320px) / 960));
  }
}

@media (any-hover: hover) {
  .menu__link:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

.webp .page{ background-image: url(../img/header/Background.webp); }

.webp .homepage:before{ background-image: url(../img/header/girl-4.webp); }

.webp .about__wrapper::before{ background: url(../img/about/open.webp) 0 0 no-repeat; }

.webp .about__wrapper::after{ background: url(../img/about/close.webp) 0 0 no-repeat; }

@media (max-width: 992px){

  .webp .about__wrapper::before{ background: url(../img/about/open.webp) 0 0/100% no-repeat; }
}

@media (max-width: 992px){

  .webp .about__wrapper::after{ background: url(../img/about/open.webp) 0 0/100% no-repeat; }
}